
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<style>
    .p-b-14 {
        font-size: 28px;
    }

    .cl2 {
        font-size: 24px;
    }
</style>

<body>
    <br /><br />
    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="~/images/icons/icon-close.png" alt="CLOSE">
                </button>

                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                <div class="slick3 gallery-lb">
                                    <div class="item-slick3" data-thumb="images/@Model.HINHANH">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="~/images/@Model.HINHANH" alt="@Model.TENSANPHAM">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="~/images/@Model.HINHANH">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item-slick3" data-thumb="images/@Model.HINHANH1">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="~/images/@Model.HINHANH1" alt="@Model.TENSANPHAM">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/@Model.HINHANH1">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item-slick3" data-thumb="images//@Model.HINHANH2">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="~/images/@Model.HINHANH2" alt="@Model.TENSANPHAM">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/@Model.HINHANH2">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">
                            <!--Info-->
                            <div>
                                <h4 class="stext-107 cl2 js-name-detail p-b-14">
                                    <b>@Model.TENSANPHAM</b>
                                </h4>

                                <span class="stext-107 cl2">
                                    Mã: @Model.MASANPHAM
                                </span><br>

                                <span class="stext-107 cl2">
                                    Giá: @Model.DONGIA
                                </span><br>

                                <span class="stext-107 cl2">
                                    Loại máy: @Model.LOAIMAY
                                </span><br>

                                <span class="stext-107 cl2">
                                    Hình dạng mặt đồng hồ: @Model.MATDONGHO
                                </span><br>

                                <span class="stext-107 cl2">
                                    Dây đeo: @Model.DAYDEO
                                </span><br>
                            </div>

                            <!-- Button -->
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="flex-c-m flex-w w-full p-t-45">
                                        <a href="@Url.Action("AddCart", "Cart", new { @maSanPham=@Model.MASANPHAM, strURL=Request.Url.ToString() } )" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                                            THÊM VÀO GIỎ HÀNG
                                        </a>

                                        <a href="@Url.Action("AllView", "Product")" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                                            VỀ TRANG SẢN PHẨM
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Icons -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                <div class="flex-m bor9 p-r-10 m-r-11">
                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>

                                <a href="https://www.facebook.com/" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="https://plus.google.com/discover" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

