@using ZiWatchVer3.Models
@model List<TheOrder>

    @{
        ViewBag.Title = "Shopping Cart";
        Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
    }

<body>
    <br /><br /><br />
    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <!-- Show Cart -->
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <!-- Table Cart -->
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Mã Sản Phẩm</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Tên Sản Phẩm</th>
                                    <th class="column-4">Số Lượng</th>
                                    <th class="column-5">Đơn Giá</th>
                                    <th class="column-6">Thành Tiền</th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr class="table_row">
                                        <td class="column-1">@item.MaSanPham</td>
                                        <td class="column-2">
                                            <div class="how-itemcart1">
                                                <img src="~/images/@item.HinhAnh" alt="@item.TenSanPham">
                                            </div>
                                        </td>
                                        <td class="column-3">@item.TenSanPham</td>
                                        <td class="column-4">@item.SoLuong</td>
                                        <td class="column-5">@String.Format("{0:0,0}", item.DonGia)</td>
                                        <td class="column-6">@String.Format("{0:0,0}", item.ThanhTien)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Total Cart -->
                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Tổng số sản phẩm: @ViewBag.Num
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Tổng tiền:
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2">
                                    @String.Format("{0:0,0}", ViewBag.Price)
                                </span>
                            </div>
                        </div>

                        <button id="pay" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Pay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#pay").click(function () {
                var url = '@Url.Action("Pay", "Cart")';
                window.location.assign(url);
            });
        });
    </script>
</body>    

