@using ZiWatchVer3.Models
@using PagedList.Mvc
@model PagedList.PagedList<ZiWatchVer3.Models.QUANTRIVIEN>

@{
    ViewBag.Title = "Quản lý quản trị viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br /><br /><br /><br />
<div class="container">
    <h2>Quản lý quản trị viên</h2>

    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HOTEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TENDANGNHAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MATKHAU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ANHDAIDIEN)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENDANGNHAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MATKHAU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ANHDAIDIEN)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MAQUANTRI }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MAQUANTRI }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MAQUANTRI })
                </td>
            </tr>
        }

    </table>

    <!--PagedList-->
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="page-menu">
        @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page }))
    </div>

    <style>
        .page-menu li {
            display: inline;
            margin: 20px;
            font-weight: 800;
        }

        td {
            text-align: center;
        }
    </style>
</div>

