@using ZiWatchVer3.Models
@using PagedList.Mvc
@model PagedList.PagedList<ZiWatchVer3.Models.CONTACT>

@{
    ViewBag.Title = "Quản lý thông tin liên hệ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br /><br /><br /><br />
<div class="container">
    <h2>Quản lý thông tin liên hệ</h2>

    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TENSHOP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIACHI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SODIENTHOAI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MASOTHUE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QUANLY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAIKHOANNGANHANG)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENSHOP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIACHI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SODIENTHOAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MASOTHUE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QUANLY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TAIKHOANNGANHANG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>

    <!--PagedList-->
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="page-menu">
        @Html.PagedListPager(Model, page => Url.Action("Product", new { page = page }))
    </div>

    <style>
        .page-menu li {
            display: inline;
            margin: 20px;
            font-weight: 800;
        }

        td {
            text-align: center;
        }
    </style>
</div>

