@using ZiWatchVer3.Models
@using PagedList.Mvc
@model PagedList.PagedList<ZiWatchVer3.Models.CONTACT>

@{
    ViewBag.Title = "Quản lý thông tin liên hệ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2>Quản lý thông tin liên hệ</h2>

    <p>
        @Html.ActionLink("Tạo mới", "CreateContact")
    </p>
    <table class="table">
        <tr>
            <th>Mã tin</th>
            <th>Tên Shop</th>
            <th>Địa chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
            <th>Mã số thuế</th>
            <th>Người quản lý</th>
            <th>Tài khoản ngân hàng</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENSHOP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIACHI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SODIENTHOAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MASOTHUE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QUANLY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TAIKHOANNGANHANG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>

    <!--PagedList-->
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="page-menu">
        @Html.PagedListPager(Model, page => Url.Action("Contact", new { page = page }))
    </div>

    <style>
        .page-menu li {
            display: inline;
            margin: 20px;
            font-weight: 800;
        }

        th,td {
            text-align: center;
        }
    </style>

</div>
