@using ZiWatchVer3.Models
@using PagedList.Mvc
@model PagedList.PagedList<ZiWatchVer3.Models.KHACHHANG>

@{
    ViewBag.Title = "Quản lý khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2>Quản lý khách hàng</h2>

    <p>
        @Html.ActionLink("Tạo mới", "CreateCustomer")
    </p>
    <table class="table">
        <tr>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>SĐT</th>
            <th>Thời điểm đăng ký</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HOTEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIOITINH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIACHI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SODIENTHOAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.THOIDIEMDANGKY)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MAKHACHHANG }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MAKHACHHANG }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MAKHACHHANG })
                </td>
            </tr>
        }

    </table>

    <!--PagedList-->
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="page-menu">
        @Html.PagedListPager(Model, page => Url.Action("Customer", new { page = page }))
    </div>

    <style>
        .page-menu li {
            display: inline;
            margin: 20px;
            font-weight: 800;
        }

        th, td {
            text-align: center;
        }
    </style>
</div>
