@model ZiWatchVer3.Models.SANPHAM

@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN SẢN PHẨM CẦN XÓA</h2>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSANPHAM)
        </dd>

        <dt>
            Danh mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANHMUC.TENDANHMUC)
        </dd>

        <dt>
            Nhà sản xuất:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHASANXUAT.TENNHASANXUAT)
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.DONGIA) VNĐ
        </dd>

        <dt>
            Ảnh:
        </dt>

        <dd>
            <image src="@Url.Content("~/images/"+Model.HINHANH)" width="100px"></image>
        </dd>

        <dd>
            <image src="@Url.Content("~/images/"+Model.HINHANH1)" width="100px"></image>
        </dd>

        <dd>
            <image src="@Url.Content("~/images/"+Model.HINHANH2)" width="100px"></image>
        </dd>

        <dt>
            Tình trạng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NGAYCAPNHAT)
        </dd>

        <dt>
            Lượt xem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LUOTXEM)
        </dd>

        <dt>
            Màu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAUSAC.TENMAU)
        </dd>

        <dt>
            Loại máy:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIMAY)
        </dd>

        <dt>
            Mặt đồng hồ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATDONGHO)
        </dd>

        <dt>
            Dây đeo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAYDEO)
        </dd>

        <dt>
            Kích cỡ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KICHCO) mm
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <h3>Bạn có chắc muốn xóa sản phẩm này?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Product")
        </div>
    }
</div>