@using ZiWatchVer3.Models
@using PagedList.Mvc
@model PagedList.PagedList<ZiWatchVer3.Models.SLIDER>

@{
    ViewBag.Title = "Quản lý trình chiếu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2>Quản lý trình chiếu</h2>

    <p>
        @Html.ActionLink("Tạo mới", "CreateSlider")
    </p>
    <table class="table">
        <tr>
            <th>Hình nền</th>
            <th>Tiều đề 1</th>
            <th>Tiêu đề 2</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="width: 300px; height: 150px" src="@Url.Content("~/images/"+item.HINHANH)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIEUDE1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIEUDE2)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MA }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MA }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MA })
                </td>
            </tr>
        }

    </table>

    <!--PagedList-->
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="page-menu">
        @Html.PagedListPager(Model, page => Url.Action("Slider", new { page = page }))
    </div>

    <style>
        .page-menu li {
            display: inline;
            margin: 20px;
            font-weight: 800;
        }

        th, td {
            text-align: center;
        }
    </style>

</div>
