@using ZiWatchVer3.Models
@using PagedList.Mvc
@model PagedList.PagedList<ZiWatchVer3.Models.NHASANXUAT>
@helper Truncate(string input, int length)
{
    if (String.IsNullOrEmpty(input))
    {
        @input
    }
    else if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text> [...]</text>
    }
}
@{
    ViewBag.Title = "Quản lý nhà sản xuất";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h2>Quản lý nhà sản xuất</h2>

    <p>
        @Html.ActionLink("Tạo mới", "CreateSupplier")
    </p>
    <table class="table">
        <tr>
            <th>Tên NSX</th>
            <th>Ghi chú</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TENNHASANXUAT)
                </td>
                <td>
                    @Truncate(item.GHICHU, 30)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MANHASANXUAT }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MANHASANXUAT }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MANHASANXUAT })
                </td>
            </tr>
        }

    </table>

    <!--PagedList-->
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="page-menu">
        @Html.PagedListPager(Model, page => Url.Action("Supplier", new { page = page }))
    </div>

    <style>
        .page-menu li {
            display: inline;
            margin: 20px;
            font-weight: 800;
        }

        th, td {
            text-align: center;
        }
    </style>
</div>
