
@{
    ViewBag.Title = "Contact Infomation";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<style>
    .info {
        width: 30%;
        display: inline;
        float: left;
        background-color: #ede69a;
        padding-left: 20px;
        padding-top: 10px;
    }

    #map {
        width: 70%;
        height: 406px;
        background-color: grey;
    }

    .yt {
        width: 30%;
        display: inline;
        float: left;
        margin-top: 10px;
        border: solid 5px #ede69a;
    }
</style>

<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Contact Infomation
            </h3><br />
            <h4 class="ltext-101 cl1">
                Name Shop: @Model.TENSHOP
            </h4><br />
            <!-- Info -->
            <div class="info">
                <ul>
                    <li>
                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact01.png" alt="icons"></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Phone</div>
                                <div class="contact_info_text">@Model.SODIENTHOAI</div>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li>
                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact02.png" alt="icons"></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Email</div>
                                <div class="contact_info_text">@Model.EMAIL</div>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li>
                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact03.png" alt="icons"></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Address</div>
                                <div class="contact_info_text">@Model.DIACHI</div>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li>
                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact04.png" alt="icons"></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Admin</div>
                                <div class="contact_info_text">@Model.QUANLY</div>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li>
                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact05.png" alt="icons"></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Tax code</div>
                                <div class="contact_info_text">@Model.MASOTHUE</div>
                            </div>
                        </div>
                    </li>
                    <br />

                    <li>
                        <!-- Contact Item -->
                        <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                            <div class="contact_info_image"><img src="~/images/contact06.png" alt="icons"></div>
                            <div class="contact_info_content">
                                <div class="contact_info_title">Bank</div>
                                <div class="contact_info_text">@Model.TAIKHOANNGANHANG</div>
                            </div>
                        </div>
                    </li>
                    <br />
                </ul>
            </div>
            <!-- Google Map -->
            <div id="map">
                <script>
                    function initMap() {
                        var uluru = { lat: 10.855487, lng: 106.7835532 };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 17,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2U_dCsYw9D4jk7YZT9u-bkd66Lm98UZc&callback=initMap"></script>
            </div>
            <!-- YouTube Subcribe -->
            <div>
                <script src="https://apis.google.com/js/client:platform.js" async defer></script>
                <div class="yt">
                    <div class="g-ytsubscribe" data-channelid="UCi0aeFqCM7PDf1QPltsS4gw" data-layout="full" data-theme="dark" data-count="hidden"></div>
                </div>
            </div>
        </div>
    </div>
</section>


